body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', sans-serif;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #66bfbf;
  font-size: 2rem;
}
h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#11999E;
  font-size: 1.75rem;
}
a {
  color:#11999E;
}
p {
  font-weight:200;
}
.top-container {
  background-color: #eeee;
  position: relative;
  padding-top: 100px
}
.programmer {
  color: #66bfbf;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.4;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align:left;
  line-height: 2;
}
.skill-1 {
  float: left;
  margin-right:30px;
}
.skill-2 {
  float: right;
  margin-left:30px;
}
.student {
  margin-top:30px;
}
